<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="loggers.xml"/>

    <!--create bean with constructor-->
    <bean id="client" class="data.Client">
        <constructor-arg value="1"/>
    <!--<constructor-arg index="0" value="1"/> can use index
        <constructor-arg type="java.lang.Integer" value="1"/> can use type -->
        <constructor-arg value="Bender Rodriguez"/>
        <!--set value by property - need setter!-->
        <property name="greeting" value="Hahahahaha. Oh wait you’re serious. Let me laugh even harder."/>
    </bean>

    <bean id="app" class="app.App">
        <!--create bean with constructor, inject bean ref-->
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

    <!--bean dateFormat created by factory method-->
    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <!--by default all beans are singletons-->
    <bean id="event" class="logger.Event" scope="prototype">
        <!--inner bean-->
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

</beans>