<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/context/spring-context.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="loggers.xml"/>

    <context:annotation-config/>
    <!--search annotated beans-->
    <context:component-scan base-package="aop"/>
    <aop:aspectj-autoproxy/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
                <value>classpath:database.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combineEventLogger"/>
    </util:map>

    <!--create bean with constructor-->
    <bean id="client" class="data.Client">
        <constructor-arg value="${id}"/>
    <!--<constructor-arg index="0" value="1"/> can use index
        <constructor-arg type="java.lang.Integer" value="1"/> can use type -->
        <constructor-arg value="${name}"/>
        <!--set value by property - need setter!-->
        <property name="greeting" value="${greeting}"/>
    </bean>

    <bean id="app" class="app.App">
        <!--create bean with constructor, inject bean ref-->
        <constructor-arg ref="client"/>
        <!--expression language-->
       <!--<constructor-arg ref="#{T(logger.Event).isDay() ? 'fileEventLogger' : 'consoleEventLogger'}"/>-->
        <constructor-arg ref="dblogger"/>
       <!-- <constructor-arg ref="consoleEventLogger"/>-->
        <constructor-arg ref="loggerMap"/>
    </bean>

    <!--bean dateFormat created by factory method-->
    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="date" class="java.util.Date" scope="prototype"/>

    <!--by default all beans are singletons-->
    <bean id="event" class="logger.Event" scope="prototype">
        <constructor-arg ref="date"/>
        <!--inner bean-->
    <!--<constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>-->
        <constructor-arg ref="dateFormat"/>
    </bean>

</beans>